<div class="center hero-unit">
	<h1>You're Awesome</h1>
	
	<h2>
		This is the home page for the <a href="http://google.com/">Newest Sensation</a> to hit the net.
	</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'%>